<div id="tabs" hx-target="#tabs-container" hx-swap="innerHTML" class="">
    <div class="tab-list" role="tablist">
    <button hx-get="/html-partials/tab1" role="tab" aria-selected="false" aria-controls="tab-content">Example 1: fancy-hyperlink</button>
    <button hx-get="/html-partials/tab2" class="selected" aria-selected="true" autofocus="" role="tab" aria-controls="tab-content">Example 2: subdued-text</button>
    <button hx-get="/html-partials/tab3" role="tab" aria-selected="false" aria-controls="tab-content">Example 3: Checkbox menu</button>
</div>
<subdued-text>This is Subdued Text. It grows on you.</subdued-text>

<h3> Declaration in HTML:</h3>

<code>
    <pre>
&ltsubdued-text&gt 
This is Subdued Text
&lt/subdued-text&gt
</pre></code>
<h3>Component definition (in HTML, CSS):</h3>
<code>
<pre>
&lttemplate component="subdued-text"&gt

&ltdiv&gt
&ltsmall&gt&ltslot&gt&lt/slot&gt&lt/small&gt
&lt/div&gt

&ltstyle&gt
div {
    font-style: italic,
    text-align: center;
}
small:hover {
    font-size: larger;
}
&lt/style&gt

&lt/template&gt
</pre>
</code>
   </div>     
</div>
