<div id="tabs" hx-target="#tabs-container" hx-swap="innerHTML" class="">
    <div class="tab-list" role="tablist" hx-boost="true">
    <button hx-get="/html-partials/tab1" role="tab" aria-selected="false" aria-controls="tab-content">Example 1: fancy-hyperlink</button>
    <button hx-get="/html-partials/tab2" role="tab" aria-selected="false" aria-controls="tab-content">Example 2: subdued-text</button>
    <button hx-get="/html-partials/tab3" role="tab" class="selected" aria-selected="true" autofocus="" aria-controls="tab-content">Example 3: is-land</button>
</div>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<style>
    is-land[ready]::before {
        content: "Working!";
    }
</style>

    <h3>Works with &lt;details&gt; in is-land component</h3>
    <details>
        <summary>The child content in this &lt;details&gt; will not be initialized until you open it.
            Green background indicates component is initialized.
        </summary>
    
        <h1>Initializes on visible</h1>
        <is-land on:visible style="display: block;">
            <fancy-hyperlink href="https://morganwebdev.com">Fancy Hyperlink</fancy-hyperlink>
        </is-land>

        <h1>Initializes on interaction</h1>
        <is-land on:interaction style="display: block;">
            <fancy-hyperlink href="https://morganwebdev.com">Fancy Hyperlink</fancy-hyperlink>
        </is-land>

        <h1>Initializes if save data mode present</h1>

        <is-land on:save-data style="display: block;">
            <fancy-hyperlink href="https://morganwebdev.com">Fancy Hyperlink</fancy-hyperlink>
        </is-land>

        <h1>Initializes on if no save data mode present</h1>

        <is-land  on:save-data="false" style="display: block;">
            <fancy-hyperlink href="https://morganwebdev.com">Fancy Hyperlink</fancy-hyperlink>
        </is-land>

    </details>



</div>
<!-- <h3> Declaration in HTML:</h3>

<code>
    <pre>
&ltsubdued-text&gt 
This is Subdued Text
&lt/subdued-text&gt
</pre></code>
<h3>Component definition (in HTML, CSS):</h3>
<code>
<pre>
&lttemplate component="subdued-text"&gt

&ltdiv&gt
&ltsmall&gt&ltslot&gt&lt/slot&gt&lt/small&gt
&lt/div&gt

&ltstyle&gt
div {
    font-style: italic,
    text-align: center;
}
small:hover {
    font-size: larger;
}
&lt/style&gt

&lt/template&gt
</pre>
</code>
   </div>     
</div> -->
